<table border="1">
	<% @users.each do |u| %>
		<tr>
			<td><%= u.name %></td>
			<td><%= u.username %></td>
		</tr>
	<% end %>
</table>
<% if cookies.signed[:user_id] == 1 %>
	<%= link_to "Add User", :controller => "users", :action => "new" %>
	<%= link_to "Edit User", :controller => "users",
		:action => "chooseUser" %>
<% end %>
